# INFRASTRUCTURE
APP_PORT=8000
FRONTEND_PORT=3000
POSTGRES_PORT=5432
WWWUSER=1000
WWWGROUP=1000

# Database Credentials
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Nuxt API Endpoints
NUXT_API_BASE_INTERNAL=http://backend:8000/api
NUXT_PUBLIC_API_BASE=http://localhost:8000/api